/* -------portfolio-------- */
#portfolio{
    padding: 50px 0;
}
.material collections-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}
.materialcollections{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}
.materialcollections img{
    width: 90%;
    border-radius: 40px;
    display: block;
}
.layer{
    width: 92.2%;
    height: 65%;
    background: linear-gradient(rgba(0,0,0,0.6), #ff004f);
    border-radius: 20px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    font-size: 14px;
    transition: height 0.5s;
}
.layer h3{
    color:aqua;
    font-weight: 800;
    margin-bottom: 20px;
}
.layer a{
    margin-top: 8px;
    color: #ff004f;
    text-decoration: none;
    font-size: 18px;
    line-height: 90px;
    background: #fff;
    width: 40px;
    height: 20px;
    border-radius: 50px;
    text-align: center;
}
.layer p{
    font-family:'Franklin Gothic Medium';
    font-size: 20px;
    font-style:italic;
    text-align: center;  
}
.materialcollections:hover img{
    transform: scale(1.1);
}
.materialcollections:hover .layer{
    height: 100%;
}
.btn{
    padding: 10px 50px;
    border-radius: 10px;
    margin: 60px auto;
    width: fit-content;
    font-size: 18px;
    transition: 0.5;
    display: block;
    border: 1px solid #ff004f;
    color: #000000;
}
.btn:hover{
    background: #ff004f;
}
